@font-face {
    font-family: "Open Sans"; 
    src: url('https://fonts.googleapis.com/css?family=Open+Sans'), 
         url('OpenSans-Regular.ttf') format("truetype")
}
* {border-radius: 0 !important}
a, a:visited {color: #111; text-decoration: none !important}
a:active, a:hover {color: #666}
.page-item.active .page-link {
    background-color: #333;
    outline-color: #000;
    border-color: #000
}
article {max-width: 50em; margin: auto; padding: 2em}
.article-content, .page-content {padding-top: 2em; padding-bottom: 2em}
.article-title, .page-title {padding-top: .5em; padding-bottom: .5em}
body {
    font-family: "Open Sans", sans-serif; 
    font-size: 100%; 
    line-height: 1.5; 
    font-size: 1em;
    letter-spacing: 1.5; 
    color:#333;
    background: #eee;
    text-shadow: 0 0 1px transparent
}
h1, h2, h3 {line-height: 1.3; color: #333}
h1 {font-size: 3em}
h2 {font-size: 2em}
h3 {font-size: 0.75em}
.btn {margin-top: 1em}
.card {padding: 2em; background-color: #eee; border: 0}
.card-block {padding: 1em}
.navbar-brand {font-size: 1.5em; padding-left: 1em; padding-right: 1em}
.nav-item {font-size: 1em; padding-left: 1em; padding-right: 1em}
.pagination {margin: 1.25em}

/* For VERY small screens */
@media screen and (max-width: 25em) {body {font-size: 90%}}

/* Sticky Footer*/
html, body {height: 100%}
#wrap {min-height: 100%}
#main {
    overflow:auto;
	padding-bottom: 8em
}  /* must be same height as the footer */
footer {
    text-align: center; 
    padding: 1em;
    position: relative;
	margin-top: -8em; /* negative value of footer height */
	height: 8em;
	clear:both
} 