<header>
    <h1 class="display-4">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
        {{ article.title }}</a>
    </h1>
    <div class="card border-0 card-body">
        <p class="card-text">
            By: <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> <br />
            Published: {{ article.date|strftime('%d %b %Y') }}<br />
            {% if article.modified %}
                Modified: {{ article.modified|strftime('%d %b %Y') }}<br />
            {% endif %}
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a><br />
            {% if article.tags %}
                Tags:
                {% for tag in article.tags %}
                    {% if tag != article.tags[-1] %} 
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}, </a>
                    {% else %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>
</header>