<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ SITEURL }}/static/favicon.ico">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!-- Custom style -->
        <link rel="stylesheet" href="{{ SITEURL }}/static/main.css" type="text/css" />

        <!-- RSS Feed -->
        {% if FEED_RSS %}
            <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
    </head>

    <body>
        <!-- Navbar -->
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <ul class="navbar-nav">
                        <h4>
                            <a class="navbar-brand" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
                        </h4>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/archives.html">
                            Archives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/categories.html">
                            Categories</a>
                        </li>
                        {% if DISPLAY_PAGES_ON_MENU %}
                            {% for page in pages %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ SITEURL }}/{{ page.url }}">
                                    {{ page.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% if FEED_RSS %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
                                RSS Feed</a>
                            </li>
                        {% endif %}
                        {% if FEED_ATOM %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
                                Atom Feed</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <!-- Begin page content -->
        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <p class="text-center text-white">
                Copyright 2017 Alexander Wolff.<br />   
                For legal/licensing info please see the <a href="{{ SITEURL }}/pages/about.html">About</a> page.<br />
                This site is powered by <a href="http://docs.getpelican.com/en/stable/">Pelican</a>, <a href="https://pages.github.com/">Github Pages</a>, <a href="https://disqus.com/">Disqus</a>, and <a href="http://getbootstrap.com/">Bootstrap</a>.
            </p>
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!-- Google Analytics/Disqus scripts -->
        {% include 'analytics.html' %}
        {% include 'disqus_script.html' %}
    </body>
</html>
